@model IList<MovieHub.Web.ViewModels.Movie>

<h1 class="display-5">Movies</h1>
@if (!Model.Any())
{
    <p>We don't have any movies yet.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Membership type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
                <tr>
                    <td>@movie.Name</td>
                    <td>@movie.NumberInStock</td>
                </tr>
            }
        </tbody>
    </table>
}
